<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert Destiny Place</title>
</head>
<div>
    <form action="/">
    <button type="submit">Home Page</button></form>
</div>
<body>
    <form method="post">
        <div>
            <h3>Destiny Place</h3>
        <div>
            <label for="aDestiny">Adress Destiny:</label>
            <input type="text" maxlength="50" id="adress_destiny" name="adress_destiny" required/>
        </div>    
        <div>
            <label for="sDestiny">State Destiny:</label>
            <input type="text" maxlength="20" id="state_destiny" name="state_destiny" required/>
        </div>
        <div>
            <label for="cDestiny">City Destiny:</label>
            <input type="text" maxlength="20" id="city_destiny" name="city_destiny" required/>
        </div>
        <div class="button">
            <button type="submit">Send data</button>
        </div>
    </form>
</body>
</html>