<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Airport System</title>
</head>
<body>
    <div>
        <form action="/passenger.html">
        <button type="submit">Insert Passenger</button></form>
    </div>
    <br>
    <div>
        <form action="/reservation.html">
        <button type="submit">Insert Reservation</button></form>
    </div>
    <br>
    <div>
        <form action="/airline.html">
        <button type="submit">Insert Airline</button></form>
    </div>
    <br>
    <div>
        <form action="/airport.html">
        <button type="submit">Insert Airport</button></form>
    </div>
    <br>
    <div>
        <form action="/dstPlace.html">
        <button type="submit">Insert Destiny Place</button></form>
    </div>
    <br>
    <div>
        <form action="/orgPlace.html">
        <button type="submit">Insert Origin Place</button></form>
    </div>
    <br>
    <div>
        <form action="/plane.html">
        <button type="submit">Insert Plane</button></form>
    </div>
    <br>
    <div>
        <form action="/takeoff.html">
        <button type="submit">Insert take-off</button></form>
    </div>
</body>
</html>