<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert Origin Place</title>
</head>
<div>
    <form action="/">
    <button type="submit">Home Page</button></form>
</div>
<body>
    <form method="post">
        <div>
            <h3>Origin Place</h3>
        <div>
            <label for="aorigin">Adress Origin:</label>
            <input type="text" maxlength="50" id="adress_origin" name="adress_origin" required/>
        </div>    
        <div>
            <label for="sorigin">State Origin:</label>
            <input type="text" maxlength="20" id="state_origin" name="state_origin" required/>
        </div>
        <div>
            <label for="corigin">City Origin:</label>
            <input type="text" maxlength="20" id="city_origin" name="city_origin" required/>
        </div>
        <div class="button">
            <button type="submit">Send data</button>
        </div>
    </form>
</body>
</html>