<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert Passenger</title>
</head>
<div>
    <form action="/">
    <button type="submit">Home Page</button></form>
</div>
<body>
    <form method="post">
        <div>
            <h3>Passenger</h3>
            <label for="name">Name:</label>
            <input type="text" maxlength="25" id="namePassanger" name="name_passenger" required/>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" maxlength="11" id="cpf" name="cpf_passenger" required/>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <input type="text" maxlength="60" id="email" name="email_passenger" required/>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="tel" maxlength="20" id="phone" name="phone_passenger" required/>
        </div>
        <div class="button">
            <button type="submit">Send data</button>
        </div>
    </form>
</body>
</html>
