<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert Plane</title>
</head>
<div>
    <form action="/">
    <button type="submit">Home Page</button></form>
</div>
<body>
    <form method="post">
        <div>
            <h3>Plane</h3>
        <div>
            <label for="lineCode">Plane Code:</label>
            <input type="number" min ="1" max="9999"id="code_plane" name="code_plane" required/>
        </div>    
        <div>
            <label for="lineName">Plane Model:</label>
            <input type="text" maxlength="10" id="adress_airport" name="model_plane" required/>
        </div>
        <div>
            <label for="dtLeaving">Plane Seats Free:</label>
            <input type="number" min ="1" max="1000" id="acount_seats" name="acount_seats" required/>
        </div>
        <div>
            <label for="dtLeaving">Plane Max Seats:</label>
            <input type="number" min ="1" max="1000" id="max_seats" name="max_seats" required/>
        </div>
        <div class="button">
            <button type="submit">Send data</button>
        </div>
    </form>
</body>
</html>