<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert Air Reservation</title>
</head>
<div>
    <form action="/">
    <button type="submit">Home Page</button></form>
</div>
<body>
    <form method="post">
        <div>
            <h3>Air Reservation</h3>
        <div>
            <label for="Armchair">Identifier Reservation:</label>
            <input type="text" maxlength="15" id="number_reservation" name="number_reservation" required/>
        </div>    
        <div>
            <label for="Armchair">Armchair:</label>
            <input type="text" maxlength="5" id="number_armchair" name="number_armchair" required/>
        </div>
        <div>
            <label for="dtLeaving">Date Leaving:</label>
            <input type="date" id="date_leaving" name="date_leaving" required/>
        </div>
        <div>
            <label for="dtBack">Date Back:</label>
            <input type="date" id="date_back" name="date_back" required/>
        </div>
        <div class="button">
            <button type="submit">Send data</button>
        </div>
    </form>
</body>
</html>